.fixed-background{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    box-sizing: border-box;
}
.title-container{
    padding: 20px 10px;
}
.title-container h1{
    font-size: 100px;
    color: #fff;
    text-shadow: 5px 5px rgb(0, 0, 0, 0.5);
}
.description-container{
    padding: 20px 20%;
}
.description-container p{
    color: #fff;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
}
.search-container{
    margin: 5vh auto;
    position: relative;
    width: max-content;
}
.input-search{
    text-transform: uppercase;
    width: 300px;
    border: 1px solid #ddd;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px 10px 10px;
}
.btn-search{
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
    text-align: center;
    padding: 10px 10px 0 10px;
    right: 0;
    background: #ddd;
    color: #333;
    padding: 0;
    left: auto;
    border: none;
}
.new-navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    height: 50px;
}
.new-navbar .row{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    height: 100%;
}
.new-left-navbar {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.new-left-navbar ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: inline-flex;
}
.new-left-navbar ul li{
    padding: 0 5pt;
    display: flex;
    align-items: center;
}
.new-left-navbar .navigasi{
    display: block;
    width: fit-content;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}
.new-right-navbar {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-container img {
    display: block;
    margin: 0 auto;
    height: 25px;
    width: auto;
}

.list{
    margin: 0 -5px;
    font-family: 'Montserrat', sans-serif !important;
}

.list:after{
    content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 28%;
  padding: 0 10px;
  margin:1% 0;
}

.card:hover {
  background: #999;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background: #d5d5d5;
  height: 200px;
}

.card-dead:hover {
  background: #999;
  cursor: pointer;
}

.card-dead {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: white;
  background: black;
  height: 200px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #999;
    color: #fff;
    margin: auto;
    border: 1px solid #fff;
    width: 50%;
  }
  
  .modal-content label{
    font-weight: 800;
  }

  .modal-body{
    padding: 20px;
    max-height: 85vh;
    overflow: hidden;
    position: relative;
  }

  .modal-readmore{
      background-color: #999;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 25px;
  }

  .modal-readmore a{
      text-align: center;
      width: 100%;
      text-decoration: none;
      display: block;
      color: #fff;
      font-weight: 800;
  }

  .modal-body .icon-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 20px;
  }
  .modal-body .icon-container img{
      width: 100px;
      display: block;
      margin: 0 auto;
  }
  /* The Close Button */
  .close {
    color: #fff;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }